# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.log

# Frontend (Node.js)
node_modules/
dist/
build/
.npm
.eslintcache
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# IDEs
.idea/
.vscode/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
.factorypath

# OS
.DS_Store
Thumbs.db

# Docker
.docker/
